<div class="aboutme">
<hr>
  <div class="profile">
    <a href="http://twitter.com/{{site.twitter_user}}"><img class="icon" src="https://ja.gravatar.com/userimage/64821088/b51b1f5635f1cdf8735a75d7787c6a20.jpeg"></a>

    <h3>Yuichi Takada</h3>
    <p><a href="http://twitter.com/{{site.twitter_user}}">@{{ site.twitter_user }}</a>, a software engineer in Tokyo. Born in 1987.</p>

    <div class="codes">
      <h4>Codes</h4>
      <div class="github"><a href="https://github.com/takady">github.com/takady</a></div>
      <div class="rubygems"><a href="https://rubygems.org/profiles/takady">rubygems.org/takady</a></div>
    </div>
  </div>

  <div class="float_clear"></div>

</div>